canvas{
position: absolute;
    top: 0px;
    left: 0px;

}
body{margin:0; padding:0;}
        #canvasBack{position:absolute; top:0px;left:0px; z-index: 10;}
        #canvasComp{position:absolute; top:0px;left:0px; z-index: 20;}
        #canvasEnt{position:absolute; top:0px;left:0px; z-index: 30;}
        
        .visible{display:inline;}
        .hidden{display:none;}
				
				#overlay {
					position: fixed;
					z-index: 100;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					background-color: #000;
					cursor: pointer;
					opacity:0.5;
				}
        
				#loader {
						z-index:800;
						display:block;
						position:absolute;
						top:50%;
						left:50%;
						margin-left:-128px;
						margin-top:-25px;
				}
        
				#assetLoaded {
						z-index:800;
						display:block;
						position:absolute;
						top:60%;
						width:100%; 
						color:white;
						font-family:"arial";
						font-weight:bold;
						text-align:center;
				}



/*  STYLE PARA O MAIN MENU  */



#mainMenu{
    
    
    background: url(ImagemMenu/background.png);
    min-height: 100%;
    min-width: 1024px;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    
    /*width: 1349px;
    height: 690px; */
}


#title{
    display: block;
    margin-left: auto;
    margin: auto;
}


#botaoStart{
    
    
    position: absolute;
    display: inline-block;
    top:50%;
    left:41%;    
    webkit-border-radius: 28;
    moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #A1A93A;
    font-size: 22px;
    background: #003D60;
    padding: 10px 20px 10px 20px;
    border: solid #D8C332 3px;
    text-decoration: none;
    
    
}


.botaoStart:hover {
  background: #ffffff;
  text-decoration: none;
}




#botaoInstrucoes{
    
    position: absolute;
    top:58%;
    left:41%;
    display: inline-block;
    webkit-border-radius: 28;
    moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #A1A93A;
    font-size: 22px;
    background: #003D60;
    padding: 10px 20px 10px 20px;
    border: solid #D8C332 3px;
    text-decoration: none;
    
}

.botaoInstrucoes:hover {
  background: #ffffff;
  text-decoration: none;
}



#botaoCreditos{
    
    position: absolute;
    top:67%;
    left:41%;
    display: inline-block;
    webkit-border-radius: 28;
    moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #A1A93A;
    font-size: 22px;
    background: #003D60;
    padding: 10px 24px;
    border: solid #D8C332 3px;
    text-decoration: none;
    
    
}

.botaoCreditos:hover {
  background: #ffffff;
  text-decoration: none;
}


#menuOverlay{
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;					height: 100%;					background-color: #000;				cursor: pointer;					opacity:0.8;
}

#backButton{
    border-radius: 28px;
    font-family: Arial;
    color: #A1A93A;
    font-size: 22px;
    background: #003D60;
    padding: 10px 20px 10px 20px;
    border: solid #D8C332 3px;
    text-decoration: none;
    
    
}






